In [1]:
### import pandas as pd
import numpy as np
import os

# 패키지 임포트
import selenium
from selenium import webdriver
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
from selenium.webdriver.common.by import By # 셀레니움 4.0부터 포함된 함수(필수)
import time
from selenium.webdriver.common.keys import Keys

from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from glob import glob

In [17]:
toy_review = pd.read_csv('./data2/toy_review.csv', low_memory = False)

In [18]:
toy_review.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 132 entries, 0 to 131
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   level_0     132 non-null    int64
 1   Unnamed: 0  132 non-null    int64
 2   index       132 non-null    int64
 3   카테고리1       132 non-null    object
 4   카테고리2       132 non-null    object
 5   카테고리 url    132 non-null    object
 6   제품명         132 non-null    object
 7   제품 url      132 non-null    object
 8   리뷰 개수       132 non-null    int64
 9   상품 별점       132 non-null    float64
 10  리뷰          132 non-null    object
 11  리뷰(좋음)      132 non-null    int64
 12  리뷰(보통)      132 non-null    int64
 13  리뷰(별로)      132 non-null    int64
dtypes: float64(1), int64(7), object(6)
memory usage: 14.6+ KB

In [19]:
toy_review.drop(['Unnamed: 0', 'level_0', 'index'], axis = 1, inplace = True)

In [21]:
toy_review.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 132 entries, 0 to 131
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   카테고리1     132 non-null    object
 1   카테고리2     132 non-null    object
 2   카테고리 url  132 non-null    object
 3   제품명       132 non-null    object
 4   제품 url    132 non-null    object
 5   리뷰 개수     132 non-null    int64
 6   상품 별점     132 non-null    float64
 7   리뷰        132 non-null    object
 8   리뷰(좋음)    132 non-null    int64
 9   리뷰(보통)    132 non-null    int64
 10  리뷰(별로)    132 non-null    int64
dtypes: float64(1), int64(4), object(6)
memory usage: 11.5+ KB

In [22]:
toy_review.to_csv("./data2/toy_review2.csv", index=False, encoding = "utf-8-sig")

In [11]:
sport_Leisure_review = pd.read_csv('./data2/sport_Leisure_review.csv', low_memory = False, encoding = 'utf-8')

In [57]:
sport_Leisure_review.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98 entries, 0 to 97
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   카테고리1     98 non-null     object
 1   카테고리2     98 non-null     object
 2   카테고리 url  98 non-null     object
 3   제품명       98 non-null     object
 4   제품 url    98 non-null     object
 5   리뷰 개수     98 non-null     int64
 6   상품 별점     98 non-null     float64
 7   리뷰        98 non-null     object
 8   리뷰(좋음)    98 non-null     int64
 9   리뷰(보통)    98 non-null     int64
 10  리뷰(별로)    98 non-null     int64
dtypes: float64(1), int64(4), object(6)
memory usage: 8.5+ KB

In [13]:
sport_Leisure_review.drop(['Unnamed: 0', 'level_0', 'index'], axis = 1, inplace = True)

In [14]:
sport_Leisure_review.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98 entries, 0 to 97
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   카테고리1     98 non-null     object
 1   카테고리2     98 non-null     object
 2   카테고리 url  98 non-null     object
 3   제품명       98 non-null     object
 4   제품 url    98 non-null     object
 5   리뷰 개수     98 non-null     int64
 6   상품 별점     98 non-null     float64
 7   리뷰        98 non-null     object
 8   리뷰(좋음)    98 non-null     int64
 9   리뷰(보통)    98 non-null     int64
 10  리뷰(별로)    98 non-null     int64
dtypes: float64(1), int64(4), object(6)
memory usage: 8.5+ KB

In [16]:
sport_Leisure_review.to_csv("./data2/sport_Leisure_review2.csv", index=False, encoding = "utf-8-sig")

In [23]:
pett_fin = pd.read_csv('./data2/pett_fin.csv', low_memory = False, encoding = 'utf-8')

In [27]:
pett_fin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 165 entries, 0 to 164
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   카테고리1     165 non-null    object
 1   카테고리2     165 non-null    object
 2   카테고리 url  165 non-null    object
 3   제품명       165 non-null    object
 4   제품 url    165 non-null    object
 5   리뷰 개수     165 non-null    int64
 6   상품 별점     165 non-null    float64
 7   리뷰        164 non-null    object
 8   리뷰(좋음)    165 non-null    object
 9   리뷰(보통)    165 non-null    object
 10  리뷰(별로)    165 non-null    object
dtypes: float64(1), int64(1), object(9)
memory usage: 14.3+ KB

In [26]:
pett_fin.drop(['level_0', 'index'], axis = 1, inplace = True)

In [28]:
pett_fin.to_csv("./data2/pett_fin2.csv", index=False, encoding = "utf-8-sig")

In [39]:
officee_fin = pd.read_csv('./data2/officee_fin.csv', low_memory = False, encoding = 'utf-8')

In [43]:
officee_fin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210 entries, 0 to 209
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   카테고리1     210 non-null    object
 1   카테고리2     210 non-null    object
 2   카테고리 url  210 non-null    object
 3   제품명       210 non-null    object
 4   제품 url    210 non-null    object
 5   리뷰 개수     210 non-null    int64
 6   상품 별점     210 non-null    float64
 7   리뷰        196 non-null    object
 8   리뷰(좋음)    210 non-null    object
 9   리뷰(보통)    210 non-null    object
 10  리뷰(별로)    210 non-null    object
dtypes: float64(1), int64(1), object(9)
memory usage: 18.2+ KB

In [41]:
officee_fin.drop(['level_0', 'index'], axis = 1, inplace = True)

In [42]:
officee_fin.to_csv("./data2/officee_fin2.csv", index=False, encoding = "utf-8-sig")

In [59]:
healthhh_fin = pd.read_csv('./data2/healthhh_fin.csv', low_memory = False, encoding = 'utf-8')

In [60]:
healthhh_fin.drop(healthhh_fin.columns[14:], axis=1, inplace = True)

In [63]:
healthhh_fin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 239 entries, 0 to 238
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   카테고리1     239 non-null    object
 1   카테고리2     239 non-null    object
 2   카테고리 url  239 non-null    object
 3   제품명       239 non-null    object
 4   제품 url    239 non-null    object
 5   리뷰 개수     239 non-null    int64
 6   상품 별점     239 non-null    float64
 7   리뷰        224 non-null    object
 8   리뷰(좋음)    239 non-null    object
 9   리뷰(보통)    239 non-null    object
 10  리뷰(별로)    239 non-null    object
dtypes: float64(1), int64(1), object(9)
memory usage: 20.7+ KB

In [62]:
healthhh_fin.drop(['level_0', 'index', 'itemId'], axis = 1, inplace = True)

In [64]:
healthhh_fin.to_csv("./data2/healthhh_fin2.csv", index=False, encoding = "utf-8-sig")

In [65]:
food_reviews = pd.read_csv('./data2/food_reviews.csv', low_memory = False, encoding = 'utf-8')

In [68]:
food_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 163 entries, 0 to 162
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   카테고리1     163 non-null    object
 1   카테고리2     163 non-null    object
 2   카테고리 url  163 non-null    object
 3   제품명       163 non-null    object
 4   제품 url    163 non-null    object
 5   리뷰 개수     163 non-null    int64
 6   상품 별점     163 non-null    float64
 7   리뷰        163 non-null    object
 8   리뷰(좋음)    163 non-null    int64
 9   리뷰(보통)    163 non-null    int64
 10  리뷰(별로)    163 non-null    int64
dtypes: float64(1), int64(4), object(6)
memory usage: 14.1+ KB

In [67]:
food_reviews.drop(['level_0', 'index', 'url2'], axis = 1, inplace = True)

In [69]:
food_reviews.to_csv("./data2/food_reviews2.csv", index=False, encoding = "utf-8-sig")

In [70]:
fashion_reviews = pd.read_csv('./data2/fashion_reviews.csv', low_memory = False, encoding = 'utf-8')

In [73]:
fashion_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98 entries, 0 to 97
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   카테고리1     98 non-null     object
 1   카테고리2     98 non-null     object
 2   카테고리 url  98 non-null     object
 3   제품명       98 non-null     object
 4   제품 url    98 non-null     object
 5   리뷰 개수     98 non-null     int64
 6   상품 별점     98 non-null     float64
 7   리뷰        98 non-null     object
 8   리뷰(좋음)    98 non-null     int64
 9   리뷰(보통)    98 non-null     int64
 10  리뷰(별로)    98 non-null     int64
dtypes: float64(1), int64(4), object(6)
memory usage: 8.5+ KB

In [72]:
fashion_reviews.drop(['index'], axis = 1, inplace = True)

In [74]:
fashion_reviews.to_csv("./data2/fashion_reviews2.csv", index=False, encoding = "utf-8-sig")

In [75]:
car_review = pd.read_csv('./data2/car_review.csv', low_memory = False, encoding = 'utf-8')

In [78]:
car_review.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   카테고리1     100 non-null    object
 1   카테고리2     100 non-null    object
 2   카테고리 url  100 non-null    object
 3   제품명       100 non-null    object
 4   제품 url    100 non-null    object
 5   리뷰 개수     100 non-null    int64
 6   상품 별점     100 non-null    float64
 7   리뷰        100 non-null    object
 8   리뷰(좋음)    100 non-null    int64
 9   리뷰(보통)    100 non-null    int64
 10  리뷰(별로)    100 non-null    int64
dtypes: float64(1), int64(4), object(6)
memory usage: 8.7+ KB

In [77]:
car_review.drop(['level_0', 'Unnamed: 0', 'index'], axis = 1, inplace = True)

In [79]:
car_review.to_csv("./data2/car_review2.csv", index=False, encoding = "utf-8-sig")

In [80]:
book_music_dvd_review = pd.read_csv('./data2/book_music_dvd_review.csv', low_memory = False, encoding = 'utf-8')

In [83]:
book_music_dvd_review.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44 entries, 0 to 43
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   카테고리1     44 non-null     object
 1   카테고리2     44 non-null     object
 2   카테고리 url  44 non-null     object
 3   제품명       44 non-null     object
 4   제품 url    44 non-null     object
 5   리뷰 개수     44 non-null     int64
 6   상품 별점     44 non-null     float64
 7   리뷰        44 non-null     object
 8   리뷰(좋음)    44 non-null     int64
 9   리뷰(보통)    44 non-null     int64
 10  리뷰(별로)    44 non-null     int64
dtypes: float64(1), int64(4), object(6)
memory usage: 3.9+ KB

In [82]:
book_music_dvd_review.drop(['level_0', 'Unnamed: 0', 'index'], axis = 1, inplace = True)

In [84]:
book_music_dvd_review.to_csv("./data2/book_music_dvd_review2.csv", index=False, encoding = "utf-8-sig")

In [95]:
beauty_reviews = pd.read_csv('./data2/beauty_reviews.csv', low_memory = False, encoding = 'utf-8')

In [98]:
beauty_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69 entries, 0 to 68
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   카테고리1     69 non-null     object
 1   카테고리2     69 non-null     object
 2   카테고리 url  69 non-null     object
 3   제품명       69 non-null     object
 4   제품 url    69 non-null     object
 5   리뷰 개수     69 non-null     int64
 6   상품 별점     69 non-null     float64
 7   리뷰        69 non-null     object
 8   리뷰(좋음)    69 non-null     int64
 9   리뷰(보통)    69 non-null     int64
 10  리뷰(별로)    69 non-null     int64
dtypes: float64(1), int64(4), object(6)
memory usage: 6.1+ KB

In [97]:
beauty_reviews.drop(['level_0', 'url2', 'index'], axis = 1, inplace = True)

In [99]:
beauty_reviews.to_csv("./data2/beauty_reviews2.csv", index=False, encoding = "utf-8-sig")

In [90]:
baby_reviews = pd.read_csv('./data2/baby_reviews.csv', low_memory = False, encoding = 'utf-8')

In [93]:
baby_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128 entries, 0 to 127
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   카테고리1     128 non-null    object
 1   카테고리2     128 non-null    object
 2   카테고리 url  128 non-null    object
 3   제품명       128 non-null    object
 4   제품 url    128 non-null    object
 5   리뷰 개수     128 non-null    int64
 6   상품 별점     128 non-null    float64
 7   리뷰        128 non-null    object
 8   리뷰(좋음)    128 non-null    int64
 9   리뷰(보통)    128 non-null    int64
 10  리뷰(별로)    128 non-null    int64
dtypes: float64(1), int64(4), object(6)
memory usage: 11.1+ KB

In [92]:
baby_reviews.drop(['level_0', 'url2', 'index'], axis = 1, inplace = True)

In [100]:
baby_reviews.to_csv("./data2/baby_reviews2.csv", index=False, encoding = "utf-8-sig")

In [101]:
file_names = glob("./data2/*.csv")

In [102]:
reviews = pd.DataFrame()
for file_name in file_names:
    temp = pd.read_csv(file_name, encoding='utf-8')
    reviews = pd.concat([reviews, temp], axis=0)

In [103]:
reviews.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1931 entries, 0 to 131
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   카테고리1     1931 non-null   object
 1   카테고리2     1931 non-null   object
 2   카테고리 url  1931 non-null   object
 3   제품명       1931 non-null   object
 4   제품 url    1931 non-null   object
 5   리뷰 개수     1931 non-null   int64
 6   상품 별점     1931 non-null   float64
 7   리뷰        1901 non-null   object
 8   리뷰(좋음)    1931 non-null   object
 9   리뷰(보통)    1931 non-null   object
 10  리뷰(별로)    1931 non-null   object
dtypes: float64(1), int64(1), object(9)
memory usage: 181.0+ KB

In [104]:
reviews.tail()

,카테고리1,카테고리2,카테고리 url,제품명,제품 url,리뷰 개수,상품 별점,리뷰,리뷰(좋음),리뷰(보통),리뷰(별로)
127,완구/취미,신생아/영아완구,http://www.coupang.com/np/categories/331793?pa...,"하베브릭스 유아용 바람개비 아기체육관, 혼합색상",http://www.coupang.com/vp/products/7450703685?...,81,5.0,"[[['정*정 ', '627965', '5', '플라스틱이 약해보이지만 전박적으로 ...",30,30,29
128,완구/취미,신생아/영아완구,http://www.coupang.com/np/categories/331793?pa...,"러닝리소스 시간학습 활동세트 LER3220, 1개",http://www.coupang.com/vp/products/24684935?it...,325,4.5,"[[['딸랑구mom ', '1185728', '5', '국민 아이템 치발기에요', ...",55,55,52
129,완구/취미,신생아/영아완구,http://www.coupang.com/np/categories/331793?pa...,"윈펀 뉴 러닝 테이블, 혼합색상",http://www.coupang.com/vp/products/26147138?it...,1888,4.5,"[[['면뵹 ', '4070688', '5', '립프로그 워드북~~', '??구매이...",35,35,31
130,완구/취미,신생아/영아완구,http://www.coupang.com/np/categories/331793?pa...,"튤립 사운드북 율동 놀이 동요 + 아기 동요 세상 분홍 세트, 스마트베어",http://www.coupang.com/vp/products/6760861019?...,64,5.0,"[[['미니민마미 ', '113748655', '5', '9개월 아기가 너무 좋아해...",60,58,60
131,완구/취미,신생아/영아완구,http://www.coupang.com/np/categories/331793?pa...,"인피니펀 스마트 3종 세트, 혼합 색상",http://www.coupang.com/vp/products/6458173415?...,1029,4.5,"[[['딸랑구mom ', '1185728', '5', '국민 아이템 치발기에요', ...",55,55,52

In [105]:
reviews.to_csv("./data2/new_ver2.csv", index=False, encoding = "utf-8-sig")

In [106]:
reviews2 = reviews[['카테고리1', '카테고리2', '제품명', '리뷰 개수', '리뷰']].copy()

In [107]:
reviews2.tail()

,카테고리1,카테고리2,제품명,리뷰 개수,리뷰
127,완구/취미,신생아/영아완구,"하베브릭스 유아용 바람개비 아기체육관, 혼합색상",81,"[[['정*정 ', '627965', '5', '플라스틱이 약해보이지만 전박적으로 ..."
128,완구/취미,신생아/영아완구,"러닝리소스 시간학습 활동세트 LER3220, 1개",325,"[[['딸랑구mom ', '1185728', '5', '국민 아이템 치발기에요', ..."
129,완구/취미,신생아/영아완구,"윈펀 뉴 러닝 테이블, 혼합색상",1888,"[[['면뵹 ', '4070688', '5', '립프로그 워드북~~', '??구매이..."
130,완구/취미,신생아/영아완구,"튤립 사운드북 율동 놀이 동요 + 아기 동요 세상 분홍 세트, 스마트베어",64,"[[['미니민마미 ', '113748655', '5', '9개월 아기가 너무 좋아해..."
131,완구/취미,신생아/영아완구,"인피니펀 스마트 3종 세트, 혼합 색상",1029,"[[['딸랑구mom ', '1185728', '5', '국민 아이템 치발기에요', ..."

In [117]:
drop_duplicates = reviews2.drop_duplicates(['리뷰'], keep='first')
total_review = drop_duplicates[drop_duplicates['리뷰'] != 'None'].reset_index()
total_review = total_review[total_review['리뷰'] != '[]']
total_review = total_review[total_review['리뷰'].notnull()]

In [119]:
drop_duplicates

,카테고리1,카테고리2,제품명,리뷰 개수,리뷰
0,출산/유아동,수유용품,"그로미미 PPSU 젖병 트윈팩, 체리쉬(로즈골드), 300ml, 1세트",1978,"[[['리뷰호랭이 ', '6596881', '5', '우리 아기의 우아한 우유 시간..."
1,출산/유아동,수유용품,"매일유업 앱솔루트 액상분유 니플, M (6~12개월), 5개입",957,"[[['김*아 ', '121729281', '5', '신생아 장거리 이동에 사용하려..."
2,출산/유아동,수유용품,마더케이 일회용젖병 + 블럭 케이스 + 스크류 2p + 젖병지퍼백 25p 외출 패키...,1619,"[[['박*슬 ', '117736679', '5', '외출 및 여행시 설거지거리 줄..."
3,출산/유아동,수유용품,"모윰 스마트 분유 보온병 500ml, 베이지, 1개",622,"[[['권*현 ', '40157513', '5', '', '❤내돈내산솔직리뷰❤ 외..."
4,출산/유아동,수유용품,"모윰 PPSU 올인원 젖병 170ml 2p + 리얼핏 젖꼭지 1단계 2p 세트, 2...",3420,"[[['김*아 ', '109563236', '5', '좋아요', '갓 100일 넘긴..."
...,...,...,...,...,...
127,완구/취미,신생아/영아완구,"하베브릭스 유아용 바람개비 아기체육관, 혼합색상",81,"[[['정*정 ', '627965', '5', '플라스틱이 약해보이지만 전박적으로 ..."
128,완구/취미,신생아/영아완구,"러닝리소스 시간학습 활동세트 LER3220, 1개",325,"[[['딸랑구mom ', '1185728', '5', '국민 아이템 치발기에요', ..."
129,완구/취미,신생아/영아완구,"윈펀 뉴 러닝 테이블, 혼합색상",1888,"[[['면뵹 ', '4070688', '5', '립프로그 워드북~~', '??구매이..."
130,완구/취미,신생아/영아완구,"튤립 사운드북 율동 놀이 동요 + 아기 동요 세상 분홍 세트, 스마트베어",64,"[[['미니민마미 ', '113748655', '5', '9개월 아기가 너무 좋아해..."
131,완구/취미,신생아/영아완구,"인피니펀 스마트 3종 세트, 혼합 색상",1029,"[[['딸랑구mom ', '1185728', '5', '국민 아이템 치발기에요', ..."

In [121]:
total = pd.DataFrame() #빈 데이터프레임 하나를 생성한다

for file_name in review_data:
    temp = pd.read_csv(file_name, encoding='utf-8') #csv파일을 하나씩 열어 임시 데이터프레임으로 생성한다
    total = pd.concat([total, temp]) #전체 데이터프레임에 추가하여 넣는다

reviews = total

category1 = []
category2 = []
product = []
rating_cnt = []
name = []
member_id = []
rating = []
title_content = []
help = []
date = []

for star in reviews:
    try:
        star = eval(star)
        for r in star:
            for review in r:
                name.append(review[0])
                member_id.append(review[1])
                if review[2] == '5':
                    rating.append(3)
                elif review[2] == '4':
                    rating.append(2)
                else:
                    rating.append(1)
                title_content.append(str(review[3]) + ' ' + str(review[4]))
                help.append(review[5])
                date.append(review[6])
    except:
        continue

df = pd.DataFrame(
    {'리뷰어 이름': name,
     '리뷰어 멤버 id': member_id,
     '별점': rating,
     '리뷰 내용': title_content,
     '리뷰로부터 도움 받은 사람 수': help,
     '리뷰 작성일자': date},
)
df
# df.to_csv('../json_csv_files/review_data/review_dataframe.csv', index=False, encoding="utf-8-sig")

,리뷰어 이름,리뷰어 멤버 id,별점,리뷰 내용,리뷰로부터 도움 받은 사람 수,리뷰 작성일자
0,리뷰호랭이,6596881,3,우리 아기의 우아한 우유 시간 [육아템 리뷰] 그로미미 PPSU 젖병 - 우리 아기...,,2023.12.20
1,노랑파라랑,113798723,3,젖병 유목민 그로미미로 정착!! ●내 돈 내산 찐 후 기 ● ✔구매동기 아...,7,2023.10.31
2,이*주,1393693,3,젖병은 그로미미! “내돈내산 후기 입니다” 둘째 아이가 이제 20개월이 다 ...,,2023.11.23
3,조블리맘,138148,3,"✔️ 구입후기 * PPSU 체리쉬 젖병 300ml 트윈 2p, 로즈골드, 노꼭지...",5,2023.04.26
4,정*원,108155907,3,용량이 커서 좋아요 10개월차 둘째아이를 키우는 연년생 엄마입니다~ 첫째때는 워낙...,11,2023.04.15
...,...,...,...,...,...,...
158409,임*경,154706780,1,포장상태가.. 나중에 사용하려고 미리 주문을 했긴한데.. 제목그대로 .. 포장상태가...,,2023.08.28
158410,양*현,39637864,1,박스도 구겨져서 오고 후기가 좋아 구매했는데 치발기 케이스에 기스가 왕창........,2,2022.08.19
158411,박*정,107383571,1,물품파손 세이지색치발기 구입했다 반품등록했더니 리뷰쓸수 없어서 여기에 올립니다. 상...,7,2021.09.26
158412,김*지,109205458,1,상품의 질이나 서비스가 너무 안좋네요 사용하다가 케이스가 너무 쉽게 이음세부분이 망...,1,2021.11.16
158413,이*정,9482077,1,배송중에 그런거같은데 겉포장 케이스가 다 깨져서왓어요 속은 괜차노아서 그냥 써요,4,2021.01.11